<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTAL DE NOTÍCIAS GALÁTICA</title>
    <link rel="stylesheet" href="styles/card.css">
    <script src="src/components/card_news.js" defer></script>
    <script src="src/components/titulo_dinamico.js" defer></script>
</head>
<body>

    <card-news
        autor="Caio"
        title="Darth Vader Contrata"
        link-url="www.google.com"
        photo="assets/vader.png"
        content="Darth Vader contrata devs que saibam trabalhar com componentes"
    ></card-news>

</body>
</html>